#services {
    .body-alignment {
      @include sub-section-container;
      padding-top: 40px;
      padding-bottom: 40px;
      @include lg {
        padding-top: 60px;
        padding-bottom: 60px;
      }
      @include xl {
        padding-top: 80px;
        padding-bottom: 80px;
      }
      @include xxl {
        padding-top: 120px;
        padding-bottom: 120px;
      }
      .mobile {
        display: block;
        @include md {
          display: none;
        }
      }
      .desktop {
        display: none;
        @include md {
          display: block;
        }
      }
      .left-col {
        .schedule-button {
          @include primary-button;
        }
      }
      .right-col {
      }
    }
  }
  