#services {
    .community {
      padding-top: 24px;
      padding-bottom: 24px;
      min-height: 50vh;
      background-color: $dark-blue;
      display: flex;
      justify-content: center;
      align-items: center;
      @include sub-section-container;
      @include lg {
        padding-top: 32px;
        padding-bottom: 32px;
      }
      @include xxl {
        padding-top: 48px;
        padding-bottom: 48px;
      }
      .community-subheader {
        color: white;
      }
      .description {
        color: white;
        margin-bottom: 24px;
        letter-spacing: 0.7px;
        @include lg {
          font-size: 16px;
          max-width: 500px;
        }
        @include xl {
          max-width: 700px;
          margin-bottom: 32px;
        }
      }
      .community-button {
        @include light-blue-button;
        margin-bottom: 24px;
      }
      .right-col {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .community-image {
        width: 100%;
      }
    }
  }
  