.video-modal-container {
  width: 80%;
  height: 80%;
  left: 0;
  margin: 2% 10%;

  @include xs {
    margin-top: 40vh;
  }

  @include md {
      margin-top: 30vh;
  }

  @include lg {
  margin-top: 2%;
  }
}
